llama-index-core==0.13.0
llama-index-llms-ollama==0.7.0
llama-index-workflows==1.3.0
llama-cloud==0.1.35
llama-cloud-services==0.6.54

openai==1.99.1
tqdm==4.67.1
ollama==0.5.2
numpy==2.3.2
transformers==4.55.0
torch==2.8.0

google-api-python-client==2.178.0
google-auth==2.40.3
google-auth-oauthlib==1.2.2

tiktoken==0.10.0
pydantic==2.11.7
pandas==2.2.3
requests==2.32.4
python-dotenv==1.1.1
nest-asyncio==1.6.0

pypdf==5.9.0
beautifulsoup4==4.13.4